a{
    background-color: cornflowerblue;
    font-size: medium;
    padding: 2%;
    color: cornsilk;
    margin-bottom: 20%;
}
span{
color: lightcyan;
background-color: lightblue;
padding: 2px;
}